.btn-style {
  border: 0;
  height: 42px;
  width: 114px;
  display: flex;
  font-size: 18px;
  color: #5f42ff;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  border-radius: 29px;
  background-color: #e0e0ff;

  &:focus {
    box-shadow: none;
    outline: none !important;
  }
}
